oc_project_name='AptioFix'
oc_package_name='AptioFixPkg'
oc_release_support=true
oc_version_header_file=''
oc_version_macro_name=''
oc_dependency_repos=()
oc_dependency_names=()
oc_dependency_branches=(
  'master'
  'master'
  )
oc_build_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_files=(
  'AptioMemoryFix.efi'
  'AptioInputFix.efi'
  'CleanNvram.efi'
  )
oc_release_dirs=(
  'Drivers'
  '' # root directory
  'Applications'
  )
